<div>
    <div class="pagination-container">
        <button mat-icon-button (click)="previousPage()" [disabled]="page === 1">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="page-container">{{ page }}</span>
        <button mat-icon-button (click)="nextPage()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <div class="episodes-table-container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Air Date</th>
                    <th>Episode</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of episodes$ | async">
                    <td>{{ item.name }}</td>
                    <td>{{ item.air_date }}</td>
                    <td>{{ item.episode }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
